name: CI

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Backend install
        run: |
          cd backend
          npm ci

      - name: Frontend install & build
        run: |
          cd frontend
          npm ci
          npm run build
